{% extends "website/base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        
        <br>


        <div class="row">
            <div class="col-6">
                <img class="about-image"
                     src="{% static "website/images/easymeal.jpg" %}" alt="">
            </div>
            <div class="col-6">
                <h1> About Us </h1>
                <br>
                <h4>“Easy Meal” is a website related to food and cooking. Every user who has no idea how to make a dish with products that he has in the kitchen, can go to the website, type all the ingredients that he has. Page will show him what he can do, displaying sample recipes with the picture, list of ingredients he needs to prepare a dish, cooking time and all calories.
The site is, transparent and easy to use. The task of the website is to help users to find a recipe that will use the ingredients they have. 
<br>
The United Nations Food and Agriculture Organization (FAO) estimates that about 815 million people of the 7.6 billion people in the world, or 10.7%, were suffering from chronic undernourishment in 2016.
Globally, we throw out about 1.3 billion tons of food a year, or a third of all the food that we grow. Each person in Europe or North America wastes about 100kg of food annually. 
<br>
The goal of creating a website is to reduce food waste, save money and time.</h4>

            </div>
        </div>
    </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
{% endblock content %}
